.page-content {
    margin-left: 15em;
    margin-right: 15em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

#style-modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    background-color: rgba(0,0,0,0.2);
    z-index: 100;
  }

  #style-modal .modal-window {
    background: rgba(253, 0, 0, 0.7);
    box-shadow: 0 8px 32px 0 rgba(136, 136, 136, 0.37);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 400px;
    height: 600px;
    position: relative;
    top: -100px;
    padding: 10px;
  }

  #style-modal .title {
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
  }
  
  #style-modal .title h2 {
    display: inline;
  }
  
  #style-modal .style-close {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
  }
  
  #style-modal .content {
    margin-top: 20px;
    padding: 0px 10px;
  }


