.page-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.emptyBox {
  min-width: 50px;
}

.subImgBox {
  display: flex;
}

.titleBox{
  width: 650px;
  font-size: 30px;
}

.descriptionBox {
  width: 650px;
  height: 380px;
  font-size: 26px;
}