#modal.drawing-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

#modal .drawing-modal-window {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    width: 90%;
    height: 70%;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

.drawing-modal-window::-webkit-scrollbar {
    background-color: white;
    height: 15px;
    border-radius: 10px;
}

.drawing-modal-window::-webkit-scrollbar-thumb {
    background-color: #9F9F9F;
    border-radius: 20px;
    background-clip: padding-box;
    border: 5px solid transparent;
}

.drawing-modal-window::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 20px;
}

#modal .drawing-modal-left {
    width: 50%;
    height: 100%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
}

#modal .drawing-modal-left .large-drawing {
    width: 100%;
    object-fit: contain;
}

.drawing-modal-window>div:nth-child(2) {
    width: 50%;
    position: relative;
}

#modal .drawing-modal-close {
    border: none;
    background-color: rgb(0, 0, 0, 0);
    position: absolute;
    right: 0;
}

#modal .drawing-modal-close img {
    width: 30px;
    height: 30px;
}

#modal .drawing-modal-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
}

#modal .userInfo {
    display: flex;
    margin: 10% 0 1% 0;
}

#modal .profileImg {
    border-radius: 30%;
    object-fit: cover;
}

#modal .author {
    margin-left: 8px;
    margin-top: 13px;
    cursor: pointer;
}

#modal #drawing-title-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
    width: 95%;
}

#modal .drawing-title {
    font-size: 30px;
}

#modal .description {
    font-size: 18px;
    width: 95%;
}

#modal .drawing-tag {
    color: rgb(98, 98, 98);
    display: flex;
}

#modal .drawing-tag p {
    margin-right: 6px;
}

#style-tag {
    display: none;
}

#tag-guide {
    font-size: 1.2rem;
    letter-spacing: -0.05em;
    color: #9F9F9F;
    border-bottom: 1px solid;
    width: 95%;
    padding-bottom: 6px;
}

.edit-style-tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    height: 40px;
    background: #9F9F9F;
    border-radius: 40px;
    color: white;
    cursor: not-allowed;

    margin-right: 10px;
    margin-top: 10px;
}

.tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    height: 40px;
    background: #F4F4F4;
    border-radius: 40px;
    color: #3C6B50;
    cursor: pointer;

    margin-right: 10px;
    margin-top: 10px;
}

input[type="checkbox"]:checked+.tag {
    color: #FFFFFF;
    background: #3C6B50;
    border-radius: 40px;
}

#modal .buttonBox {
    display: flex;
    flex-direction: column;
    width: 95%;
}

#modal .buttonBox button{
    margin: 0 10px 0 0;
    padding: 0;
}

button {
    border: none;
    background-color: rgb(0, 0, 0, 0);
}

#modal .buttonBox> :nth-child(1) {
    display: flex;
}

#modal #edit-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

#edit-cancle {
    width: 40%;
    height: 60px;
    border: 1.5px solid #FF922E;
    border-radius: 20px;
    color: #FF922E;
    margin-right: 5px;
    margin-bottom: 10px;
}

#edit-complete {
    width: 58%;
    height: 60px;
    border: none;
    background: #FF922E;
    border-radius: 20px;
    color: white;
}

#modal .buttonBox #open-nft-button {
    background-color: #3C6B50;
    border-radius: 8px;
    font-weight: 200;
    color: white;
    width: 270px;
    height: 60px;
    margin: 12px 0 12px 6px;
}

.likeBox,
.bookmarkBox {
    margin: 0 10px 0 0;
    height: fit-content;
    font-size: smaller;
    text-align: center;
}

.likeBox button,
.bookmarkBox button {
    margin: 0 !important;
}

.likeBox p,
.bookmarkBox p {
    cursor: pointer;
    margin: 0;
}

#modal .NFTBox {
    display: none;
    font-size: 1rem;
    padding: 10px;
}

.NFTBox > div:nth-child(2) > img {
    margin-right: 10px;
}

.NFTBox a {
    color: #9F9F9F;
}

#circular-box {
    display: flex;
    justify-content: center;
    color: #3C6B50;
}

#modal .kakao-share-btn {
    border: none;
    background-color: rgb(0, 0, 0, 0);
}