.like:active {
    background-color: tomato
}

.bookmark:active {
    background-color: aquamarine;
}

#zoom-modal.drawing-modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(0,0,0,0.2);
    z-index: 100;
}

#zoom-modal .drawing-modal-window {
    background: rgba(231, 177, 177, 0.7);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: fit-content;
    height: fit-content;
    position: relative;
    top: -100px;
    padding: 10px;
    
    display: flex;
    justify-content: space-around;
}

#zoom-modal .drawing-modal-close {
    font-size: 50px;
    display: flex;
    justify-content: end;
}

#zoom-modal .userInfo {
    display: flex;
}

#zoom-modal .drawing-title {
    font-size: 35px;
}

#zoom-modal .description {
    font-size: 28px;
}


