.titleBox {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

.like, .bookmark {
    border: none;
}

.like:visited, .bookmark:visited {
    border: none;
}

.drawing {
    margin-right: 2%;
}

#alert-modal.warning-modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,0.4);
    z-index: 100;
}

#alert-modal .warning-modal-window {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 0px 10px 40px 10px;
}

#alert-modal .warning-modal-window .alert-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#alert-modal .warning-modal-close {
    width: fit-content;
    height: auto;
    font-size: 20px;
    margin-left: 400px;
}

#zoom-modal.drawing-modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(0,0,0,0.4);
    z-index: 100;
}

#zoom-modal .drawing-modal-window {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    width: 60%;
    height: fit-content;
    position: relative;
    top: 1%;
    margin: 0 30px 0 30px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

#zoom-modal .drawing-modal-left {
    width: 250%;
    display: flex;
    align-items: center;
    margin-left: 5%;
}

#zoom-modal .drawing-modal-window .large-drawing {
    width: 100%;
    height: auto;
}

#zoom-modal .drawing-modal-right {
    margin-left: 2%;
    height: 92.7%;
}

#zoom-modal .drawing-modal-close {
    width: fit-content;
    height: auto;
    font-size: 20px;
    margin-left: 96%;
}

#zoom-modal .userInfo {
    display: flex;
    margin: 7% 0 1% 0;
}

#zoom-modal .profileImg{
    border: 1px solid;
    border-radius: 30%;
}

#zoom-modal .author {
    margin-left: 8px;
    margin-top: 13px;
}

#zoom-modal .drawing-title {
    font-size: 30px;
}

#zoom-modal .description {
    font-size: 18px;
    width: 90%;
}

#zoom-modal .drawing-tag {
    margin-bottom: 15%; 
    color: rgb(98, 98, 98);             
}

#zoom-modal .buttonBox {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 5%;
}

#zoom-modal .NFTBox {
    display: none;
}
