@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.homecontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Spoqa Han Sans Neo';
    margin-top: 52px;
}

.tagOptionBox {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tagBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tagOptionBox img {
    height: 80px;
    margin-bottom: -16px;
}

.tagGuide {
    height: 40px;
    font-size: 24px;
    color: #9F9F9F;
}

.viewOptionBox {    
    margin-top:40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.viewOptionBox .refresh {
    height: 40px;
    padding: 0px 20px;
    font-weight: 300;
    font-size: 18px;
    background: #3C6B50;
    border: none;
    border-radius: 8px; 
    color: #FFFFFF;
}

.viewOptionBox .optionBox {
    display: flex;
    font-size: 18px;
}

.viewOptionBox .viewOption {
    border: none;
    color: #8E9398;
    font-weight: 400;
    background-color: rgb(0, 0, 0, 0);
}

.viewOptionBox .viewOption:visited {
    border: none;
}

.drawingBox {
    width: 100%;
    display: flex;
    padding: 10px;
    overflow-x: scroll;
    justify-content: space-between;
    height: fit-content;
}

.drawingBox::-webkit-scrollbar {
    background-color: white;
    height: 5px;
}

.drawingBox::-webkit-scrollbar-thumb {
    background-color: #9F9F9F;
    border-radius: 20px;
}

.drawingBox::-webkit-scrollbar-track {
    background-color: #F4F4F4;
    border-radius: 20px;
}

.img-thumbnail:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.drawing-container {
    height: 100%;
    margin-right: 1.5vw;
}


