.homecontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.tagOptionBox {
    width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.tagBox {
    text-align: center;
}

.viewOptionBox {    
    width: 1500px;
    display: flex;
    justify-content: space-between;
}

.drawingBox {
    display: flex;
    width: 1500px;
    padding: 10px;
    overflow-x: scroll;
    margin-top: 1%;
    justify-content: space-between;
}

.img-thumbnail:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.drawing {
    min-width: 500px;
    height: auto;
}


