@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.homecontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    font-family: 'Spoqa Han Sans Neo';
}

.tagOptionBox {
    width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.tagGuide {
    font-size: 24px;
    color: #9F9F9F;
}

.tagBox button {
    background-color: #F4F4F4;
    color: #3C6B50;
    border: none;
    border-radius: 40px;
    font-weight: 400;
    font-size: 18px;  
    width: 100px;
    margin-right: 5px;
}

.tagBox button input {
    display: none;
}

.viewOptionBox {    
    width: 1500px;
    display: flex;
    justify-content: space-between;
}

.viewOptionBox .refresh {
    width: 154px;
    height: 40px;
    background: #3C6B50;
    border: none;
    border-radius: 8px; 
    color: #FFFFFF;
    font-weight: 300;
}

.viewOptionBox .optionBox {
    display: flex;
}

.viewOptionBox .optionBox h5 {
    color: #8E9398;
    height: fit-content;
    margin-top: 8px;
    font-weight: 350;
}

.viewOptionBox .viewOption {
    border: none;
    color: #8E9398;
    font-weight: 400;
    font-size: 18px;
    background-color: rgb(0, 0, 0, 0);
}

.viewOptionBox .viewOption:visited {
    border: none;
}

.drawingBox {
    display: flex;
    width: 1500px;
    padding: 10px;
    overflow-x: scroll;
    margin-top: 1%;
    justify-content: space-between;
}

.img-thumbnail:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.drawing {
    min-width: 500px;
    height: auto;
}


