.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}

.logo {
    width: auto;
    height: 12vh;
}

.nicknameGuide {
    font-size: 1.2vw;
    margin-bottom: 1vh;
}

.page-content > div:nth-child(3) {
 width: 52%;
}

#nicknameBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
}

#nicknameBox > div:nth-child(1)  {
    display: flex;
    align-content: center;
    border-radius: 20px;
    background: #F4F4F4;
}

#nicknameBox > div:nth-child(1) > div:nth-child(2) {
    width: 36px;
}

#nicknameBox > div:nth-child(1) > div:nth-child(2) > img {
    width: 70%;
    height: 28px;
    margin: 70% 0 0 0;
}

#nicknameBox #name-input {
    width: 30vw;
    font-size: 1rem;
    border-radius: 20px;
    padding-left: 15px;
    border: none;
    background-color: rgb(0, 0, 0, 0);
}

#name-input:focus {
    outline: none;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0);
    background-image: url(../../public/img/joinDeleteIcon.png);
    background-repeat: no-repeat;
    background-size: 20px;
}

#submitButton {
    width: 8vw;
    padding: 0 1.3vw 0 1.3vw;
    background: #FF922E;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 0.9vw;
}

#warning {
    color: #9F9F9F;
    font-size: 0.75vw;
    margin: 10px 0 0 10px;
}

#testInput {
    border: none;
}