#my-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tabBox {
    display: flex;
    width: 80%;
    justify-content: center;
    margin-top: 3vw;
}

#tabBox #my, #tabBox #bookmark {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9F9F9F;
    background-color: rgb(0,0,0,0);
    border: none;
    font-size: 24px;
}

#tabBox #my {
    color: #3C6B50;
}

#my > hr, #bookmark > hr {
    width: 97%;
    margin-bottom: 3vw;
}

#myDrawingBox {
    border: 1px solid tomato;
    width: 79.5%;
}

#bookmarkDrawingBox {
    border: 1px solid aqua;
    width: 79.5%;
}



#drawing-container {
    display: flex;
    width: 78%;
    justify-content: space-between;
}

#drawingBox1 { width: 23%; }
#drawingBox1 > div > img { width: 100%; }

#drawing-container #drawingBox2 { width: 41% }
#drawingBox2 > div > img { width: 100%; }

#drawing-container #drawingBox3 { width: 32% }
#drawingBox3 > div > img { width: 100%; }





#zoom-modal.drawing-modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(0,0,0,0.4);
    z-index: 100;
}

#zoom-modal .drawing-modal-window {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    width: 60%;
    height: fit-content;
    position: relative;
    top: 1%;
    margin: 0 30px 0 30px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#zoom-modal .drawing-modal-left {
    width: 230%;
    display: flex;
    align-items: center;
    margin-left: 3%;
    margin-right: 1vw;
}

#zoom-modal .drawing-modal-window .large-drawing {
    width: 100%;
    height: auto;
}

#zoom-modal .drawing-modal-right {
    margin-left: 2%;
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#zoom-modal .drawing-modal-close {
    width: fit-content;
    height: auto;
    font-size: 20px;
    margin-left: 96%;
}

#zoom-modal .userInfo {
    display: flex;
    margin: 0 0 1% 0;
}

#zoom-modal .profileImg{
    border-radius: 30%;
    object-fit: cover;
}

#zoom-modal .author {
    margin-left: 8px;
    margin-top: 13px;
}

#zoom-modal .drawing-title {
    font-size: 30px;
}

#zoom-modal .description {
    font-size: 18px;
    width: 95%;
}

#zoom-modal .drawing-tag {
    color: rgb(98, 98, 98);    
    display: flex;   
}

#zoom-modal .drawing-tag p {
    margin-right: 0.5vw;
}

#zoom-modal .buttonBox {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

#zoom-modal .likeBox, .bookmarkBox {
    height: fit-content;
    margin-top: 10px;
    font-size: smaller;
    text-align: center;
}

#zoom-modal .NFTBox {
    display: none;
}





#alert-modal.warning-modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,0.4);
    z-index: 101;
}

#alert-modal .warning-modal-window {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
}

#alert-modal .warning-modal-close {
    width: fit-content;
    height: auto;
    font-size: 20px;
    margin-left: 400px;
}

#alert-modal .warning-modal-window .alert-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#alert-modal .warning-modal-window .alert-content >:nth-child(2) {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

#alert-modal .warning-modal-window .alert-content >:nth-child(3) {
    width: 82%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#kakaoLogin, #googleLogin, #naverLogin{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

#kakaoLogin { 
    background: #FAE100;
}

#naverLogin{
    background: #53B434;
}

#alert-modal .warning-modal-window .alert-content >:nth-child(2) > button  > img{
    width: 35%;
}