.background{
    background: url(../../public/img/start-background.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width:1281px)  {
    #content-box {
        max-width: 1600px;
        /* max-height: 900px; */
    }
}

#content-box {
    height: 95%;
    width: 80%;

    display: flex;
    justify-content: space-between;
}

#content-box > div {
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content-box > #leftBox {
    width: 58%;
}

#content-box > #leftBox > #logo {
    width:  100%;
}

#content-box > #leftBox > #description {
    width:  85%;
}

#content-box > #leftBox > #description {
    width:  85%;
}

#content-box > #leftBox > #buttonBox > a > button {
    min-width: 80px;
    width: 22%;
    background-color: rgb(0,0,0,0);
    border: none;
    margin-top: 5%;
}

#content-box > #leftBox > #buttonBox > a > button > #start-button {
    width: 100%;
}

#content-box > #rightBox {
    width: 41%;
}

#content-box > #rightBox > img{
    width:  100%;
}