#page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-content .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-content .user-image {
    margin-top: 10px;
    width: 130px;
    height: 130px;
    margin-bottom: 14px;
}

#page-content .user-image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3em;
}

#page-content .user-text {
    font-size: 26px;
    margin-bottom: -5px;
}
    
#page-content hr {
    width: 40vw;
    margin: 1.5% 0 1.5% 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0);
}

#drawing-container {
    display: flex;
    width: 78%;
    justify-content: space-between;
}

#drawingBox1 { width: 23%; }
#drawingBox1 > div > img { width: 100%; }

#drawing-container #drawingBox2 { width: 41% }
#drawingBox2 > div > img { width: 100%; }

#drawing-container #drawingBox3 { width: 32% }
#drawingBox3 > div > img { width: 100%; }

